
.hotel-cards{
    position: relative;
    margin-top: 11%;
    width: 90%;
    left: 5%;
    right: 5%;
}

.form-div{
    display: none;
}

.booking-form{
    position: fixed;
    z-index: 10%;
    background-color: white;
    border: solid 4px #0077b6;
    border-radius: 10px;
}

/* ----- MEDIA QUERIES ----- */

@media (min-width: 500px){
    .hotel-cards{
        position: relative;
        margin-top: 15%;
        display: grid;
        grid-template-columns: 50% 50%;
    }
}

@media (min-width: 1000px){
    .hotel-cards{
        position: relative;
        margin-top: 6%;
        display: grid;
        grid-template-columns: 33.333% 33.333% 33.333%;
    }
}