@import url("hotelList.css");

.hotel-cards{
    position: absolute;
    top: 9.5%;
    width: 90%;
    left: 5%;
    right: 5%;
}

@media (min-width: 500px){
    .hotel-cards{
        position: absolute;
        top: 11%;
        display: grid;
        grid-template-columns: 50% 50%;
    }
}

@media (min-width: 1000px){
    .hotel-cards{
        position: absolute;
        top: 14%;
        display: grid;
        grid-template-columns: 33.333% 33.333% 33.333%;
    }
}