
.hotel-cards{
    position: relative;
    margin-top: 11%;
    width: 90%;
    left: 5%;
    right: 5%;
}

.form-div{
   display: none;
}

.booking-form{
    position: fixed;
    z-index: 10;
    top: 20%;
    left: 2%;
    right: 2%;
    background-color: white;
    border: solid 2px #0077b6;
    border-radius: 10px;
    width: 90%;
    padding: 2% 2% 20% 2%;
}

.booking-form span{
    font-family: 'Chakra Petch', sans-serif;
    position: absolute;
    font-size: 1.5em;
    right: 1%;
    top: 1%;
    color: red;
}

.booking-form h2{
    text-align: center;
    font-family: 'Fascinate', cursive;
    color: #0077b6;
}


.booking-form label{
    margin: 2% 2% 2% 2%;
    font-family: 'Chakra Petch', sans-serif;

}

.booking-form .name-input{
    position: relative;
    margin: 2% 2% 2% 2%;
    width: 90%;
    border: solid 2px #0077b6;
    border-radius: 10px;
}

.booking-form .surname-input{
    position: relative;
    margin: 2% 2% 2% 2%;
    width: 90%;
    border: solid 2px #0077b6;
    border-radius: 10px;
}

.booking-form .email-input{
    position: relative;
    margin: 2% 2% 2% 2%;
    width: 90%;
    border: solid 2px #0077b6;
    border-radius: 10px;
}

.booking-form select{
    position: relative;
    margin: 2% 2% 2% 2%;
    width: 90%;
    font-size: 1.2em;
    border: solid 2px #0077b6;
    border-radius: 10px;
}

.booking-form .date{
    margin-top: 2%;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 2%;
    
}

.booking-form .date .checkIn-input{
    position: relative;
    width: 90%;
    font-size: 1.2em;
    border: solid 2px #0077b6;
    border-radius: 10px;
}

.booking-form .date .checkOut-input{
    position: relative;
    width: 90%;
    font-size: 1.2em;
    border: solid 2px #0077b6;
    border-radius: 10px;
}


.booking-form .book-btn{
    position: absolute;
    bottom: 2%;
    left: 25%;
    width: 50%;
    background-color: #0077b6;
    border-radius: 10px;
    border: none;
    font-size: 1em;
    padding: 2% 2% 2% 2%;
    box-shadow: rgb(72, 72, 72) 5px 5px 7px 0px;
}
/* ----- MEDIA QUERIES ----- */

@media (min-width: 500px){
    .hotel-cards{
        position: relative;
        margin-top: 15%;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .booking-form{
        top: 20%;
        left: 7%;
        right: 7%;
        border: solid 4px #0077b6;
        width: 80%;
        padding: 2% 2% 12% 2%;
    }
    
    .booking-form h2{
        font-size: 2.2em;
    }
    
    
    .booking-form label{
        font-size: 1.7em;
    }
    
    .booking-form .name-input{
        font-size: 1.5em;
    }
    
    .booking-form .surname-input{
        font-size: 1.5em;
    }
    
    .booking-form .email-input{
        font-size: 1.5em;
    }
    
    .booking-form select{
        font-size: 1.7em;
    }
    
    .booking-form .date{
        margin-top: 2%;
        display: grid;
        grid-template-columns: 50% 50%;
        margin-left: 2%;   
    }
    
    .booking-form .date .checkIn-input{
        font-size: 1.7em;
    }
    
    .booking-form .date .checkOut-input{
        font-size: 1.7em;
    }
    
    .booking-form .book-btn{
        bottom: 4%;
        font-size: 1.5em;
        padding: 1% 2% 1% 2%;
    }
}

@media (min-width: 1000px){
    .hotel-cards{
        position: relative;
        margin-top: 6%;
        display: grid;
        grid-template-columns: 33.333% 33.333% 33.333%;
    }

    .booking-form{
        top: 10%;
        left: 7%;
        right: 7%;
        border: solid 4px #0077b6;
        width: 80%;
        padding: 2% 2% 8% 2%;
    }
    
    .booking-form h2{
        font-size: 2em;
    }
    
    
    .booking-form label{
        font-size: 1.2em;
    }
    
    .booking-form .user{
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .booking-form .name-input{
        position: relative;
        font-size: 1.2em;
    }
    
    .booking-form .surname-input{
        position: relative;
        font-size: 1.2em;
    }
    
    .booking-form .email-input{
        font-size: 1.2em;
        width: 60%;
    }
    
    .booking-form select{
        font-size: 1.5em;
        width: 70%;
    }
    
    .booking-form .date{
        margin-top: 1%;
        display: grid;
        grid-template-columns: 50% 60%;
        margin-left: 2%;   
    }
    
    .booking-form .date .checkIn-input{
        font-size: 1.5em;
        width: 70%;
    }
    
    .booking-form .date .checkOut-input{
        font-size: 1.5em;
        width: 50%;
    }
    
    .booking-form .book-btn{
        bottom: 4%;
        font-size: 1.3em;
        padding: 1% 2% 1% 2%;
    }
}