@import url("hotelList.css");

.hotel-cards{
    position: relative;
    margin-top: 11%;
    width: 90%;
    left: 5%;
    right: 5%;
}

@media (min-width: 500px){
    .hotel-cards{
        position: relative;
        margin-top: 15%;
        display: grid;
        grid-template-columns: 50% 50%;
    }
}

@media (min-width: 1000px){
    .hotel-cards{
        position: relative;
        margin-top: 7%;
        display: grid;
        grid-template-columns: 33.333% 33.333% 33.333%;
    }
}