.card{
    border-radius: 10px;
    position: relative;
    width: 90%;
    margin: 7% 5% 7% 5% ;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(72, 72, 72) 5px 5px 7px 0px;
}

.hotel-img{
    position: relative;
    width: 100%;
    margin: 0%;
    left: 0%;
    top: 0%;
    right: 0%;
    border-radius: 10px;
}

.card .info{
    margin: 0% 2% 2% 2%;
}

.card h3{
    font-family: 'Chakra Petch', sans-serif;
    font-size: 1.4em;
    font-weight: 700;
}

.card .rating{
    position: relative;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 1.25em;
    font-weight: 700;
}

.card .rating-img{
    position: relative;
    top: 0.1em;
    width: 1.2em;
    height: 1.2em;
}

.card .desc{
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 1.2em;
}

.card .rate{
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 1.25em;
    font-weight: 700;
    padding-bottom: 22%;
}

.card button{
    position: absolute;
    width: 30%;
    bottom: 2%;
    left: 35%;
    right: 35%;
    /* margin: 0% 35% 2% 35%; */
    background-color: #0077b6;
    border-radius: 10px;
    border: none;
    font-size: 1.2em;
    padding: 2% 2% 2% 2%;
    box-shadow: rgb(72, 72, 72) 5px 5px 7px 0px;
}

.card button:active{
    transform: scale(0.9);
    box-shadow: 3px 3px 4.5px 0px rgb(75, 74, 74);
}

/* ----- MEDIA QUERIES ----- */

@media (min-width: 500px){
    .card{
        margin: 4% 3% 4% 3%;
    }

    .card button{
        font-size: 1.5em;
    }

    .card .rate{
        padding-bottom: 17%;
    }
}

@media (min-width: 1000px){
    .card{
        margin: 4% 3% 4% 3%;
    }

    .card h3{
        font-size: 1.2em;
    }
    
    .card .rating{
        font-size: 1.1em;
    }
        
    .card .desc{
        font-size: 1.1em;
    }
    
    .card .rate{
        font-size: 1.1em;
        padding-bottom: 15%;
    }

    .card button{
        font-size: 1.2em;
    }

}